/******************************** TAG SELECTORS ***************************/

body {
  background-color: #eaf6f6;
}
hr {
  border-style: dotted none none;
  width: 10%;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #2f89fc;
}

a:hover {
  color: blueviolet;
}

/************************ CLASS SELECTORS ***********************/

/************************ ID SELECTORS ************************/
#profile-pic {
  border-radius: 100%;
}

#contact-me {
  color: #df4d19;
}
